.App {
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  max-width: 602px;
  
}

@media screen and (min-width: 532px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.logo {
  padding: 18px 0;
}

.heading {
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: var(--brand-color);
  margin-top: 136px;
}

.heading-part {
  font-weight: 200;
  color: #ffffff
}