.App {
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 482px;
  margin: 0 auto;
}

.logo {
  padding: 18px 0;
}

.heading {
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: var(--brand-color);
  margin-top: 80px;
}

.heading-part {
  font-weight: 200;
  color: #ffffff
}